
.home {
    background-color: antiquewhite;
    margin: 25vh auto;
    width: 80vw;
    height: 50vh;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}  
header{
    font-size: 35px;
    text-align: center;
}
input, button{
    font-size: 30px;
    display: block;
    width: 80%;
    margin-top: 20px;
}

button{
    cursor: pointer;
}