body {
    margin: 0;
    background-color: #140f07;
    overflow: hidden;
}

.container {
    margin: 1vh auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vh;
    height: 98vh;
    width: 90vw;
}
.prev-page,
.next-page {
    position: fixed;
    bottom: 50vh;
    color: white;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.prev-page {
    left: 1vw;
}
.next-page {
    right: 1vw;
}
.prev-page:hover,
.next-page:hover {
    font-size: 60px;
    bottom: 49vh;
    cursor: pointer;
}

.prev-page:hover {
    left: 0.8vw;
}
.next-page:hover {
    right: 0.8vw;
}
.page-count {
    position: absolute;
    right: 0.3vw;
    top: 1vh;
    font-weight: 700;
    font-size: 24px;
    color: white;
}
h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: grey;
    border-radius: 1rem;
}
.error {
    display: block;
}
.hidden {
    display: none;
}
