* {
    box-sizing: border-box;
}

:root {
    /*  color */

    --black: #140f07;
    --blue: #102f51;
    --blue-light: #0971b4;
    --beide: hsl(49, 16%, 87%);
    /*  font */
    --family: sans-serif;
    --fs-base: 16px;
    --fs-header: 19px;
    --fs-price: 22px;
    --weight-normal: 400;
    --weight-bold: 600;
    /*  border-radius */
    --radius: 0.75rem;
}

.job {
    position: relative;
    font-family: var(--family);
    background-color: var(--blue);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: var(--beide);
    padding: 3px;
}
.job:hover {
    outline: 0.1rem solid #0971b4;
    cursor: pointer;
}
.job-found {
    outline: 0.1rem solid #0efff9;
}
.job-found:hover {
    outline: 0.3rem solid #0efff9;
}

.job__header {
    height: 35%;
    font-weight: var(--weight-bold);
    font-size: var(--fs-header);
    color: #fbf5f3;
    text-decoration:underline;
    text-underline-offset: 5px;
}
.job__price {
    padding-top: 0.8rem;
    font-size: var(--fs-price);
}
.job__resp {
    height: 15%;
    display: flex;
    justify-content: space-around;
    padding-top: 0.15rem;
    font-size: var(--fs-base);
}
.job__resp > div {
    padding: 2px 5px;
    border: 1px white solid;
    border-radius: 3px;
}
.job__exp {
    height: 13%;
    padding-top: 0.15rem;
    font-size: var(--fs-base);
}
.job__remote {
    height: 12%;
    font-size: var(--fs-base);
}
.job__skills{
    position: absolute;
    background-color: #102f51;
    width: 70%;
    left: 0;
    top: 0;
    z-index: 1;
    color: coral;
}
.job__skills-table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    background-color: #102f51;
    left: 0;
    top: 0;
    z-index: 2;
    color: coral;
    height: 100%;
}
.table-row{
    border: 0.5px solid white;
  padding: 5px 2px;
}
.job-not-good{
    opacity: 0.6;
}
.job-not-good:hover{
    opacity: 1;
}
